/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
  }

body {
    height: 100vh;
    max-height: 100vh;
    background: #5BBFBA;
    font-size: 15px;
    font-family: HelveticaNeue;
}

.container {
    width: 86%;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
}

/* header */

.svg-bubble-left,
.svg-buble-middle,
.svg-bubble-right {
    position: absolute;
    z-index: -1;
}

.svg-bubble-left {
    top: 2.0935960591133vh;
    left: 0;
}

.svg-buble-middle {
    top: 8.7610837438424vh;
    left: 32.693333333333%;
}

.svg-bubble-right {
    top: 19.827586206897vh;
    right: 5.0666666666667%;
}

.title {    
    padding-top: 11.083743842365vh;
    padding-bottom: 1.7241379310345vh;
    padding-left: 1%;
}

.title-item {
    font-size: 1.66666667em;
    line-height: 1.4;
    font-weight: 900;
    margin: 0;
}
.close {
    position: absolute;
    left: 88.98%;
    top: 5.7vh;
}
.close-item1,
.close-item2  {
    position: absolute;
    width:  2.5vh;
    height: 0.24639vh;
    background-color: #FFFFFF;
}
.close-item1 {   
    -webkit-transform: rotate(45deg);   
        -ms-transform: rotate(45deg);   
            transform: rotate(45deg);
}

.close-item2 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
/* content */

.wrapper {
    margin-bottom: 6.7733990147783vh;
    padding-left: 1%;
}

.list {
    list-style: none;
    padding-left: 3px;
}

.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1em;
    padding-bottom: 2.2167487684729vh;
    font-weight: 500;
    padding-left: 6.866667%;
}

.list-span {
    font-size: 1em;
    letter-spacing: 0.23px;
}

.offer-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1.2315270935961vh;
}

.offer-price {
    display: block;
    font-size:  0.73333333em;
    line-height: 1.4;
}

.bold {
    display: block;
    font-weight: bold;
    text-decoration: line-through;
    padding-top: 2.7093596059113vh;
}
.offer-price_padding {
    padding-top: 1.2315270935961vh;
}
.offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 3.81773399vh;
    margin-left: -2%;
    margin-right: -2%;
}

.offer-item {
    width: 33%;
    background: #8bd2ce;
    border-radius: 4px;
    min-height: 16.009852216749vh;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2.2%;
    padding-right: 2.2%;
    padding-top: 1.8472906403941vh;
    position: relative;
    margin-right: 2.8666666666667%;
}

.offer-item:nth-child(2),
.offer-item:last-child {
    position: relative;
    height: 19.334975369458vh;
    padding-top: 5.0492610837438vh;
}
.offer-item:last-child {
    margin-right: 0;
}

.offer-item-top:hover {
    border: 3px solid #FFFFFF;
    border-bottom: none;
}

.offer-item_checked {
    border: 3px solid #FFFFFF;
}

.triangle {
    position: absolute;
    width: 42px;
    height: 42px;
    /* margin-right: 10px; */
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    background-color: #34495e;
    border-radius: 0 4px 0 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: #FBDB36;
    bottom: -4px;
    right: -4px;
  }
.triangle-span {
    display: block;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(225deg);
    font-size: 0.6em;
    font-weight: bold;
    left: 16px;
    bottom: 23px;
}

.offer-item:hover .triangle {
    bottom: 0px;
    right: 0px;
    width: 34px;
    height: 34px;
    border-radius: 0 0 0 0;

}
.offer-item:hover .triangle-span {
    left: 12px;
    bottom: 19px;
}
.offer-item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FBDB36;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 2.730541871921vh;
    position: absolute;
    left: -3px;
    top: -3px;
    right: -3px;
    z-index: 0;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}
.offer-item-top_checked {
    border: 3px solid #FFFFFF;
    border-bottom: 0;
}
.fire {
    font-size: 0.8em;
}
.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2em;
    width: 100%;
    height: 7.3891625615764vh;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 2.7093596059113vh;
    border: none;
    -webkit-box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
    border-radius: 500px;
    color: black;
    text-decoration: none;
}

.button:visited {
    color: inherit;
}

.top-text {
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
}

/* footer */
.footer-item,
.footer-restore{
    text-align: center;
}

.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-restore {
    padding-bottom: 0.86206896551724vh;
}

.secured {
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 2.8325123152709vh;
    margin-left: 3%;
}

.bottom-svg {
    display: block;
    margin-top: -0.36945812807882vh;
}

.restore {
    font-size: 0.7333333333333333em;
    text-decoration: underline;
    
}

.restore:visited {
    color: inherit;
}

.policy {
    font-size: 0.7333333333333333em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #408682;
}

.list-wrap {
    margin-right: 5.3%;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFC1C1;
    position: relative;
}

.list-circle {
    position: absolute;
    left: -24px;
    top: -8px;
}

.check-sign {
    position: absolute;
    background: #000000;
}

.offer-item:hover {
    border: 3px solid #FFFFFF;
}

.offer-item:hover .offer-item-top {
   border-left: 3px solid #FFFFFF; 
   border-top: 3px solid #FFFFFF; 
   border-right: 3px solid #FFFFFF; 
}

@media screen and (min-width: 320px) and (max-height: 568px) { 
    body {
        font-size: 13px;
    }
    .title-item {
        font-size: 1.4em;
    }
    .list-circle {
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85);
    }
    .svg-bubble-left {
        top: -2.906404vh;
        left: -3%;
    }
    .svg-bubble-left,
    .svg-buble-middle,
    .svg-bubble-right {
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85);
    }
}
@media screen and (min-width: 375px) and (max-height: 667px) { 
    .svg-bubble-left {
        top: 0.093596vh;  
    }
}

@media screen and (min-width: 414px) and (max-height: 736px)  { 
    .svg-bubble-left,
    .svg-buble-middle,
    .svg-bubble-right {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    .list-circle {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    .svg-bubble-left {
        top: 0.093596vh;
        left: 1%;
    }
} 

@media screen and (min-height: 550px) and (max-height: 600px) { 
    .offer-price_padding {
        padding-top: 0;
    }
    .offer-item:nth-child(2), .offer-item:last-child {
        padding-top: 22px;
    }
    .offer-item {
        padding-top: 5px;
    }
}

@supports (-webkit-overflow-scrolling: touch) {
    .close {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);

        position: absolute;
        top: calc(10px + var(--safe-area-inset-top));
        right: 6.4%;
    }   
}


@supports (-webkit-overflow-scrolling: touch) {
    
    .close {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);

        position: absolute;
        top: calc(10px + var(--safe-area-inset-top));
        right: 6.4%;
       
    } 
}




 