body {
    height: 100vh;
    max-height: 100vh;
    background: #5BBFBA;
    font-size: 15px;
    font-family: HelveticaNeue;
}

.container {
    width: 84%;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
}

/* header */

.svg-bubble-left,
.svg-buble-middle,
.svg-bubble-right {
    position: absolute;
    z-index: -1;
}
.svg-bubble-left {
    top: 2.0935960591133vh;
    left: 0;
}

.svg-buble-middle {
    top: 8.7610837438424vh;
    left: 32.693333333333%;
}

.svg-bubble-right {
    top: 19.827586206897vh;
    right: 5.0666666666667%;
}

.title {    
    padding-top: 11.083743842365vh;
    padding-bottom: 1.6009852216749vh;
}

.title-item {
    font-size: 1.66666667em;
    line-height: 1.4;
    font-weight: 900;
    margin: 0;
}

.close {
    position: absolute;
    left: 88.98%;
    top: 5.7vh;
}
.close-item1,
.close-item2  {
    position: absolute;
    width:  2.5vh;
    height: 0.24639vh;
    background-color: #FFFFFF;
}
.close-item1 {   
    -webkit-transform: rotate(45deg);   
        -ms-transform: rotate(45deg);   
            transform: rotate(45deg);
}

.close-item2 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* content */

.wrapper {
    margin-bottom: 6.8965517241379vh;
}

.list {
    list-style: none;
    padding-left: 3px;
}

.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1em;
    padding-bottom: 2.2167487684729vh;
    font-weight: 500;
    padding-left: 6.866667%;
}

.list-span {
    font-size: 1em;
    letter-spacing: 0.23px;
}

.offer-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1.1083743842365vh;
}

.offer-price {
    display: block;
    font-size:  0.73333333em;
    line-height: 1.4;
}

.bold {
    display: block;
    font-weight: bold;
    text-decoration: line-through;
    padding-top: 2.7093596059113vh;
}
.offer-price_padding {
    padding-top: 1.3546798029557vh;
}
.offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 3.81773399vh;
    margin-left: -10px;
    margin-right: -10px;
}

.offer-item {
    width: 33%;
    background: #8bd2ce;
    border-radius: 4px;
    min-height: 16.009852216749vh;
    border: 4px solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 2%;
    padding-top: 1.7241379310345vh;
    position: relative;
    margin-right: 2.8666666666667%;
}

.offer-item:nth-child(2),
.offer-item:last-child {
    position: relative;
    height: 19.334975369458vh;
    padding-top: 5.0492610837438vh;
}
.offer-item:last-child {
    margin-right: 0;
}

.offer-item-top:hover {
    border: 4px solid #FFFFFF;
    border-bottom: none;
}

.offer-item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FBDB36;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 2.4630541871921vh;
    position: absolute;
    left: -3px;
    top: -3px;
    right: -3px;
    z-index: 0;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.top-text {
    text-align: center;
    font-size: 0.63em;
    font-style: bold;
}
.fire {
    font-size: 0.8em;
}
.button {
    display: block;
    font-size: 1.2em;
    width: 101%;
    height: 7.3891625615764vh;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 2.2167487684729vh;
    border: none;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
    border-radius: 500px;
    color: black;
}

/* footer */
.footer-item,
.footer-restore{
    text-align: center;
}
.footer-item {
    position: relative;
}
.footer-restore {
    padding-bottom: 0.36945812807882vh;
}

.secured {
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 2.8325123152709vh;
    margin-left: 7%;
}
.bottom-svg {
    position: absolute;
    bottom: 2.73399vh;
    left: 14.7%;
}
.restore {
    font-size: 0.7333333333333333em;
    text-decoration: underline;
}
.policy {
    font-size: 0.7333333333333333em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #408682;
}

.list-wrap {
    margin-right: 5.3%;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFC1C1;
    position: relative;
}
.list-circle {
    position: absolute;
    left: -24px;
    top: -8px;
}
.check-sign {
    position: absolute;
    background: #000000;
}

.offer-item:hover {
    border: 4px solid #FFFFFF;
}

.offer-item:hover .offer-item-top {
   border-left: 3px solid #FFFFFF; 
   border-top: 3px solid #FFFFFF; 
   border-right: 3px solid #FFFFFF; 
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 42px 42px;
    border-color: transparent transparent #FBDB36 transparent;
    line-height: 0px;
    right: -4px;
    bottom: -4px;
}
.triangle-span {
    display: block;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 9px;
    font-weight: bold;
    left: -26px;
    bottom: -29px;
}

.offer-item:hover .triangle {
    border-width: 0px 0 34px 34px;
    right: 0px;
    bottom: 0px;
}
.offer-item:hover .triangle-span {
    left: -22px;
    bottom: -25px;
}
@media screen and (min-width: 320px) and (max-width: 360px) { 
    body {
        font-size: 14px;
    }
    .offer-price_padding {
        padding: 0;
    }
}
